.calendarScope :global(.fc-event) {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.calendarScope :global(.fc-daygrid-event-harness) {
  margin-bottom: 2px;
}

.calendarScope :global(.fc-timegrid-slot) {
  height: 2.5em !important;
}

.calendarScope :global(.fc-timegrid-col-bg .fc-non-business) {
  background-color: rgba(241, 245, 249, 0.72) !important;
}

.calendarScope :global(.fc-timegrid-slot-lane).nonBusinessSlot {
  border-top-color: #d5dbe5 !important;
}

.calendarScope :global(.fc-list-table) {
  width: 100% !important;
  table-layout: fixed;
}

.calendarScope :global(.fc-list-day-cushion),
.calendarScope :global(.fc-list-event-title),
.calendarScope :global(.fc-list-event-time) {
  padding: 42px 16px !important;
}

.calendarScope :global(.fc-button-primary) {
  background-color: #5a66ee !important;
  border-color: #5a66ee !important;
}

.calendarScope :global(.fc-button-primary:hover) {
  background-color: #5a66ee !important;
  border-color: #5a66ee !important;
}

.calendarScope :global(.fc-button-primary:not(:disabled).fc-button-active),
.calendarScope :global(.fc-button-primary:not(:disabled):active) {
  background-color: #6573ee !important;
  border-color: #6573ee !important;
}

.calendarScope :global(.fc-button:focus) {
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .calendarScope :global(.fc-timegrid-slot-label-cushion),
  .calendarScope :global(.fc-timegrid-axis-cushion) {
    font-size: 10px !important;
    text-transform: uppercase;
  }
}

.calendarScope :global(.fc-timegrid-event) {
  min-width: 50px !important;
}
.calendarScope :global(.fc-header-toolbar) {
  display: none !important;
}

.calendarBody {
  min-height: 600px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
